<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.lastName }}</td>
      <td>
        {{ customer.weight }}
        <customer-weight-alert [customer]="customer">
        </customer-weight-alert>
      </td>
    </tr>
  </tbody>
</table>
<a class="nav-link" [routerLink]="['/customer/form']">Customer form</a>
